RewriteEngine On
RewriteBase /api/

# Pasar el header Authorization a PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Si el archivo existe, servirlo
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Todo lo demás va al proxy PHP
RewriteRule ^(.*)$ index.php [L,QSA]
